
@{
    ViewData["Title"] = "MEB";
}

<div class="text-center">
    <h1 class="display-4">MİLLİ EĞİTİM BAKANLIĞI OKUL SİSTEMİNE HOŞGELDİNİZ</h1>

    <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2021/11/30/thumbs_b_c_3aa72f5708abc1df0e5c55c7be4489a2.jpg" alt="okulsistem">

</div>



