@model Okul_Idare_Sistemi.Models.OgrenciDers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Öğrenci ders seçme</h1>

<div class="row">
    <div class="col-sm-6 text-black">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <label  class="control-label">Öğrenci</label>
                @Html.DropDownListFor(x => x.Ogrenci.Id, (List<SelectListItem>)ViewBag.OItem  , htmlAttributes: new { @class = "form-control", required = String.Empty })
               <span asp-validation-for="OgrenciId" class="text-danger"></span>                     
            </div>
             <div class="form-group">
               <label  class="control-label">Ders</label>
                @Html.DropDownListFor(x => x.Ders.Id, (List<SelectListItem>)ViewBag.DItem  , htmlAttributes: new { @class = "form-control", required = String.Empty })
               <span asp-validation-for="DersId" class="text-danger"></span>                     
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#eventCreateForm").validate();
    </script>
}